/* 
    Document   : style
    Created on : Mar 6, 2013, 11:22:51 PM
    Author     : Pete
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#dashboard {
    display: block;
    width: 100%
}

#login_message {
}

#login_form {
}

#notes_form label {
    display: block;
    float: left;
}
#notes_form input {
    display: block;
}

#save_button {
    display: block;
}


